node_modules
dist
coverage
.git
.gitignore
README.md
.env
.env.*
*.log
npm-debug.log*
.DS_Store
.vscode
.idea
*.swp
*.swo
*~
.terraform
terraform.tfstate*
.terraform.lock.hcl
terraform.tfvars
docs
test
.github
.scannerwork
.sonar
sonar-project.properties
jest.config.js
tsconfig.json
.eslintrc.js
.prettierrc
